html {
    scroll-behavior: smooth;
}

.projectsSwiper {
    padding-bottom: 50px !important;
}

.testmonialSwiper {
    padding-bottom: 50px !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet {
    width: 15px !important;
    height: 6px !important;
    border-radius: 3px !important;
}

.swiper-pagination-bullet-active {
    background: #00a68e !important;
}